[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
requests = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django = "*"
pymongo = "*"
dnspython = "*"
mongoengine = "*"
django-rest-framework-mongoengine = "*"
mypy = "*"
pytest = "*"
python-dotenv = "*"
django-cors-headers = "*"
boto3 = "*"
wheel = "*"
zappa = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
